body {
	font-family: sans-serif;
}

h1,
h3,
p {
	padding: 10px;
	margin: 10px;
}

.messages {
	font-weight: bold;
	width: 60%;
}

.survey {
	width: 60%;
	height: 50%;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: slategray;
}

.error {
	background-color: lightcoral;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.btn {
	font-weight: bold;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background-color: lightskyblue;
}

.btn:hover {
	cursor: pointer;
	background-color: rgb(182, 226, 253);
}

#survey-select {
	padding: 10px;
	width: 40%;
	border-radius: 10px;
}

#survey-select:hover {
	cursor: pointer;
}
