{% extends 'base.html' %}


{% block content %}

    <form action="/survey" method="POST">
        <div class="survey">
        <label for="survey-select"><b>Choose Your Survey:</b></label>
            <select name="surveys" id="survey-select">
                {% for survey in keys %}
                <option value="{{survey}}">{{survey.capitalize()}}</option>
                {% endfor %}
            </select>
        <button class="btn">Submit</button>
    </div>
    </form> 
    
{% endblock %}